stages:
  - publish

default:
  stage: publish
  image: node:10-alpine
  cache:
    key: "$CI_JOB_STAGE"
    paths:
      - /var/cache/apk/
      - .yarn-cache/
  before_script:
    - yarn config set cache-folder .yarn-cache

publish:
  only: [tags]
  before_script:
    - apk update
    - apk upgrade
    - apk add git
  script:
    - { echo "$NPM_USERNAME"; sleep 1; echo "$NPM_EMAIL"; } | yarn login
    - yarn config set //registry.npmjs.org/:_authToken "$NPM_TOKEN"
    - yarn workspaces run publish --access public --new-version "$CI_COMMIT_TAG"
  after_script:
    - yarn config delete //registry.npmjs.org/:_authToken
    - yarn logout
