stages:
  - test
  - publish

default:
  image: node:10-alpine
  stage: ${CI_JOB_NAME}
  cache:
    paths:
      - /var/cache/apk
      - .yarn-cache
  before_script:
    - apk update
    - apk upgrade
    - apk add git
    - yarn config set cache-folder .yarn-cache
  script:
    - yarn

test:
  script: yarn test
  except: [tags]

publish:
  image: node:10-alpine
  before_script:
    - yarn login username=${NPM_USERNAME} email=${NPM_EMAIL}
    - yarn config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
  script:
    - yarn workspaces run publish --access public --new-version ${CI_COMMIT_TAG}
  only: [tags]
  after_script:
    - yarn config delete //registry.npmjs.org/:_authToken
    - yarn logout
